setproctitle>=1.1.9

stem>=1.8
pyyaml>=4.2b1
cryptography>=3.2
pycryptodomex

future>=0.14.3

sphinx~=7.1.2
docutils~=0.20.1
pytest~=7.4.0
mock~=5.1.0
pexpect~=4.8.0
self~=2020.12.3
schedule~=1.2.0
setuptools~=65.5.1
Pympler~=1.0.1